:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #968d96;

    --mainText: #000;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #f0ead6;

    --btnColor: #000;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
    transition: 0.3s;
}

#s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

/* Extra small */
@media screen and (min-width: 0) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 1em;
    }

    .main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
    }

    .encrypt-section {
        margin-top: 5em;
        /* border: 1px solid rgba(0, 0, 0, 0.25); */
    }

    .encrypt-section,
    .encrypt-section>.container {
        padding: 0;
    }

    .encrypt-section .row {
        margin: auto 0;
    }

    .form-col {
        margin-bottom: 0.5em;
    }

    .form-wrapper,
    .result-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 2em;
        background: #fff;
        border-radius: 0.5em;
        /*box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);*/
        box-shadow: 0 0 0.5em #000;
        background: rgba(165, 136, 136, 0.2);
    }

    .form-wrapper textarea,
    .result-wrapper #result {
        min-height: 4.5em;
        height: 4.5em;
        max-height: 4.5em;
    }

    .result-wrapper #result {
        overflow-y: scroll;
        word-break: break-word;
    }
}

/* Small */
@media screen and (min-width: 576px) {}

/* Medium */
@media screen and (min-width: 768px) {
    .form-col {
        margin-bottom: 0;
    }
}

/* Large */
@media screen and (min-width: 992px) {}

/* Extra large */
@media screen and (min-width: 1200px) {}



/***** Top Bar **********************/

#theme-option-wrapper {
    display: flex;
    justify-content: center;
}


.theme-dot {
    height: 30px;
    width: 30px;
    background-color: #000;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    cursor: pointer;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color:  #73abe2;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7E4C74;
}

